:root {
  --background-color: 240, 255, 255;

  --primary-text: 7, 7, 7;
  --secondary-text: 253, 225, 197;

  --shadow: 0, 53, 97;

  --accent: 0, 95, 143;
  --accent-hover: 0, 53, 97;

  --border: 228, 203, 179;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark {
  --background-color: 18, 22, 27;

  --primary-text: 224, 241, 243;
  --secondary-text: 0, 53, 97;

  --shadow: 197, 225, 252;

  --accent: 0, 255, 255;
  --accent-hover: 253, 225, 197;

  --border: 10, 74, 122;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  /*font-family: "Indie Flower", cursive;*/
  font-family: MarkerFelt-Thin, "Marker Felt";
  line-height: 1.5;
  font-weight: 100;

  background-color: rgb(var(--background-color));
  color: rgb(var(--primary-text));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease, fill 0.4s ease, stroke 0.4s ease;
}

body:not(.loaded) {
  display: none;
}
