body {
  font-family: "Indie Flower", cursive;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgb(13 17 33);
  background-image: url("../global/bg_noise.svg");
  background-repeat: repeat;
  background-size: 77px 77px;
  background-blend-mode: soft-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
