@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Syne+Mono&display=swap");

:root {
  --profileCard-bg: rgb(135, 206, 235);
  --aboutCard-bg: rgb(176, 216, 230);
  --techCard-bg: rgb(224, 224, 224);
  --quote: rgb(180, 190, 205);

  --heading-about: rgb(57, 57, 57);

  --pill-bg: rgb(245, 245, 245, 0.7);

  --git: rgb(33, 31, 31);
  --express: rgb(0, 0, 0);

  --btn-transition: 255, 245, 238;
  --btn-transition-hover: 240, 255, 240;
}

.dark {
  --profileCard-bg: rgb(90, 140, 200);
  --aboutCard-bg: rgb(70, 130, 180);
  --techCard-bg: rgb(30, 30, 35);
  --quote: rgb(120, 150, 180);

  --heading-about: rgba(205, 205, 190, 0.9);

  --pill-bg: rgb(40, 50, 60);

  --git: rgb(255, 255, 255);
  --express: rgb(255, 255, 255);

  --btn-transition: 35, 45, 60;
  --btn-transition-hover: 35, 45, 60;
}

.bodyAbout {
  width: 100%;
  height: 89.4vh;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.biography {
  width: 750px;
  height: 530px;
  margin-top: 20px;
  gap: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileCard {
  width: 300px;
  height: 500px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;

  background-color: var(--profileCard-bg);
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.3);
}

.profileCard h1,
h3 {
  text-shadow: 5px 2px 5px rgba(var(--shadow), 0.3);
}

.dailyQuote {
  width: 290px;
  font-size: 13px;

  height: 70px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Syne Mono", monospace;
  line-height: 1.3;
}

.quoteLine {
  margin: 0 10px 0;
  border-radius: 10px;
  background-color: var(--quote);
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.3);
}

.profilePicture {
  max-width: 200px;
  max-height: 200px;

  border-radius: 50%;
  padding: 10px 0 10px;
}

.profileName {
  margin: 0;
}

.profileNamePrefer {
  margin: 0;
  font-weight: 300;
}

.profileHighlight {
  font-size: 17px;
  padding: 10px 0 10px;
  position: relative;
  display: inline-block;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  color: rgb(var(--primary-text));
}

.profileHighlight::after {
  content: attr(data-text);
  color: rgba(var(--nav-txt), 0.7);
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 0.6s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.profileDirectory {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px 0 0;
}

.toResume,
.toPortfolio {
  cursor: pointer;
  width: 110px;
  height: 30px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  font-family: "Chewy", system-ui;
  color: var(--primary-text);
  background-color: rgba(var(--btn-transition), 0.5);

  border-radius: 20px;
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.3);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.toResume:hover,
.toPortfolio:hover {
  background-color: rgba(var(--btn-transition-hover), 0.8);
  transform: scale(1.05);
}

.profileAbout {
  width: 420px;
  height: 500px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;

  background-color: var(--aboutCard-bg);

  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.3);
}

.technologyTitle,
.profileAboutTitle {
  margin: 0;
  text-indent: 10px;
  font-family: "Chewy", system-ui;
  color: var(--heading-about);
  text-shadow: 5px 2px 5px rgba(var(--shadow), 0.3);
  text-align: start;
}

.profileAboutPara {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  line-height: 1.9;
  font-family: "Nunito", sans-serif;
  font-size: small;
}

.technology {
  width: 750px;
  height: 210px;
  margin-top: 20px;
  gap: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--techCard-bg);
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.3);
}

.techStack {
  width: 750px;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.java,
.ts,
.js,
.html,
.css,
.react,
.nodeJs,
.express,
.tailwindCss,
.git,
.gitHub,
.mySql,
.postgreSql,
.mongoDb {
  flex: 0 0 auto;
  height: 40px;
  width: auto;
  gap: 13px;
  padding: 0 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pill-bg);
  text-shadow: none;
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.1);
}

.icon {
  width: 27px;
  height: 27px;
}

.carouselLang {
  height: 55px;
  width: 100%;
  display: flex;
  -webkit-mask-image: linear-gradient(to right, transparent, black 35%), linear-gradient(to left, transparent, black 35%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  overflow-x: hidden;
}

.carouselLang::-webkit-scrollbar {
  display: none;
}

.techStackLang {
  gap: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide--X 10s infinite linear;
}

.carouselFramW {
  height: 55px;
  width: 100%;
  display: flex;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to right, transparent, black 35%), linear-gradient(to left, transparent, black 35%);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  overflow-x: hidden;
}

.carouselFramW::-webkit-scrollbar {
  display: none;
}

.techStackFramW {
  gap: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide-X 17s infinite linear;
}

@keyframes slide--X {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

@keyframes slide-X {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
