:root {
  --git: rgb(33, 31, 31);
  --express: rgb(0, 0, 0);
}

.dark {
  --git: rgb(255, 255, 255);
  --express: rgb(255, 255, 255);
}

.bodyAbout {
  width: 100%;
  height: 89.4vh;
  border: 1px black solid;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.biography {
  width: 750px;
  height: 530px;
  margin-top: 20px;
  border: 1px black solid;
  gap: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profileCard {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  border: 1px black solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
}

.profilePicture {
  max-width: 200px;
  max-height: 200px;

  border-radius: 50%;
  padding: 30px 0 20px;
}

.profileName {
  margin: 0;
}

.profileNamePrefer {
  margin: 0;
  font-weight: 100;
}

.profileHighlight {
  font-size: 17px;
  padding: 40px 0 10px;
}

.profileHighlight::after {
  --text: "Software Engineer";
  content: var(--text);
  color: rgb(var(--primary-text));
  animation: text 13s infinite;
}

@keyframes text {
  0%,
  25% {
    --text: "Software Engineer";
  }
  26%,
  50% {
    --text: "Full Stack Developer";
  }
  51%,
  75% {
    --text: "Problem Solving Enthusiast";
  }
  76%,
  100% {
    --text: "Lifelong Learner";
  }
}

.profileDirectory {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 40px 0 20px;
}

.toResume,
.toPortfolio {
  width: 110px;
  height: 30px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: MarkerFelt-Thin, "Marker Felt";

  border-radius: 20px;
}

.profileAbout {
  width: 420px;
  height: 500px;
  border: 1px black solid;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
}

.profileAboutTitle {
  margin: 0;
  text-indent: 10px;
  border: 1px black solid;
}

.profileAboutPara1 {
  width: 100%;
  max-width: 400px;
  margin: 5px auto;
  text-align: start;
  font-size: small;
  font-weight: 100;
  line-height: 1.7;
  border: 1px black solid;
}

.technology {
  width: 750px;
  height: 210px;
  margin-top: 20px;
  gap: 10px;
  border-radius: 20px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.technologyTitle {
  margin: 0;
  text-indent: 10px;
  border: 1px black solid;
  text-align: start;
}

.techStack {
  width: 750px;
  height: 150px;
  border: 1px black solid;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.java,
.ts,
.js,
.html,
.css,
.react,
.nodeJs,
.express,
.tailwindCss,
.git,
.gitHub,
.mySql,
.postgreSql,
.mongoDb {
  flex: 0 0 auto;
  height: 45px;
  width: auto;
  gap: 7px;
  padding: 0 15px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px black solid;
}

.icon {
  width: 35px;
  height: 35px;
}

.carouselLang {
  width: 100%;
  display: flex;
  overflow: hidden;
  border: 1px red solid;
  overflow-x: hidden;
}

.carouselLang::-webkit-scrollbar {
  display: none;
}

.techStackLang {
  gap: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide--X 7s infinite linear;
}

.carouselFramW {
  width: 100%;
  display: flex;
  overflow: hidden;
  border: 1px red solid;
  overflow-x: hidden;
}

.carouselFramW::-webkit-scrollbar {
  display: none;
}

.techStackFramW {
  gap: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: slide-X 7s infinite linear;
}

@keyframes slide--X {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

@keyframes slide-X {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
