:root {
  --background-nav: 220, 225, 177;
  --nav-txt: 1, 43, 71;
  --nav-hover-txt: 253, 225, 197;

  --resume-bg: rgb(210, 212, 230);
  --resume-bg-hover: rgb(135, 206, 250);
}

.dark {
  --background-nav: 45, 36, 87;
  --nav-txt: 253, 225, 197;
  --nav-hover-txt: 1, 43, 71;

  --resume-bg: rgb(30, 35, 45);
  --resume-bg-hover: rgb(35, 40, 60);
}

.navClass {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 13px;
  padding-bottom: 13px;
  background: transparent;
}

.nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0 150px;
  height: 35px;
}

.logo {
  cursor: pointer;
  height: 24px;
  width: 81px;
  display: block;
  fill: rgb(var(--nav-txt));
  text-shadow: 3px 1px 5px rgba(var(--shadow), 0.5);
}

.nav_links {
  border-radius: 77px;

  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-self: center;
  justify-content: center;
  align-items: center;

  position: relative;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 2px 1px 5px 1px rgba(var(--shadow), 0.15),
    inset 0 4px 20px rgba(var(--accent), 0.25);
  overflow: hidden;
}

.nav_links li {
  background: transparent;
  border-radius: 77px;
  min-width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 0.1s ease, backdrop-filter 0.1s ease,
    box-shadow 0.1s ease, transform 0.1s ease, opacity 0.2s ease;
}

.nav_links li.fade-out {
  opacity: 0;
}

.nav_links li:hover,
.nav_links li.active {
  background: rgba(var(--accent), 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 2px 1px 5px 1px rgba(var(--shadow), 0.15),
    inset 0 4px 20px rgba(var(--accent), 0.3);
  overflow: hidden;
}

.nav_links::before {
  --size: 10px;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(var(--accent-hover), 0.2),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.nav_links:hover::before {
  --size: 250px;
}

.nav_links li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(var(--nav-txt));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 30px;
  border-radius: 77px;
  transition: border-color 0.25s ease, transform 0.25s ease-in-out;
}

.nav_links li a:hover,
.nav_links li.active a {
  transform: none;
  color: rgb(var(--nav-hover-txt));
  transform: scale(1.05);
}

.nav_left {
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  justify-self: start;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav_right {
  width: auto;
  height: 30px;
  display: flex;
  justify-self: end;
  justify-content: center;
  gap: 10px;
}

.theme_toggle_bg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(var(--background-nav), 0.3);
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.1);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
}

.theme_toggle_btn {
  color: rgb(var(--nav-txt));
  background: transparent;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.theme_toggle_btn:hover {
  background-color: rgba(var(--background-nav), 0.5);
  transform: scale(1.05);
}

.resume_btn {
  width: 60px;
  height: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--resume-bg);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.resume_btn:hover {
  background-color: var(--resume-bg-hover);
  transform: scale(1.05);
}

.resume_bg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0.1px 1px 5px 1.5px rgba(var(--shadow), 0.1);
}

.resume {
  color: rgb(var(--nav-txt));
  background: transparent;
  transition: color 0.3s ease-in-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(70px);
  }
  40% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(0);
  }
}

.theme_toggle_btn.animate {
  animation: slideUp 0.4s ease-out;
}

.nav_toggle {
  display: none;
  background: transparent;
  padding: 1px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: rgb(var(--nav-txt));
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1080px) {
  .nav {
    padding: 0 50px;
  }
}

@media screen and (max-width: 860px) {
  .nav {
    display: flex;
    padding: 0 35px;
    justify-content: space-between;
    align-items: center;
  }

  .nav_links {
    border-radius: 0;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 150px;
    width: 175px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 1.5rem;
    background: rgba(var(--background-nav), 0.1);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 998;
  }

  .nav_links:hover::before {
    --size: 800px;
  }

  .nav_links::before {
    pointer-events: none;
    z-index: 0;
  }

  .nav_links.active {
    transform: translateX(0);
  }

  .nav_toggle {
    display: block;
    z-index: 999;
  }

  .nav_toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav_toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav_toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_right {
    position: fixed;
    top: 260px;
    right: 133px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    width: auto;
    transform: translateX(300%);
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .nav_right.active {
    display: flex;
    transform: translateX(0);
  }
}
