.navClass {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 7px;
  background: transparent;
  backdrop-filter: blur(2px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  height: 35px;
}

.logo {
  cursor: pointer;
  height: 24px;
  width: auto;
  display: block;
  fill: rgb(var(--nav-txt));
}

.nav_links {
  border-radius: 77px;

  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;

  position: relative;
  background: rgba(var(--background-nav), 0.5);
  backdrop-filter: blur(10px) saturate(150%);
  box-shadow: 2px 1px 5px 1px rgba(var(--shadow), 0.15),
    inset 0 4px 20px rgba(var(--accent), 0.3);
  overflow: hidden;
}

.nav_links li {
  background: transparent;
  border-radius: 77px;
  width: 77px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 0.1s ease, backdrop-filter 0.1s ease,
    box-shadow 0.1s ease, transform 0.1s ease;
}

.nav_links li:hover {
  background: rgba(var(--accent-hover), 0.5);
  backdrop-filter: blur(10px) saturate(200%);
  box-shadow: 2px 1px 5px 1px rgba(var(--shadow), 0.15),
    inset 0 4px 20px rgba(var(--accent), 0.3);
  overflow: hidden;
}

.nav_links::before {
  --size: 10px;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(var(--accent-hover), 0.2),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.nav_links:hover::before {
  --size: 200px;
}

.nav_links li a {
  font-size: 18px;
  text-decoration: none;
  color: rgb(var(--nav-txt));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 77px;
  transition: border-color 0.25s ease, transform 0.25s ease;
}

.nav_links li a:hover {
  transform: none;
  color: rgb(var(--secondary-text));
  transform: scale(1.1);
}

.nav_left {
  cursor: pointer;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.nav_right {
  background-color: rgba(var(--background-color), 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  width: auto;
  overflow: hidden;
}

.theme_toggle_btn {
  color: rgb(var(--nav-txt));
  background: none;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.33s ease;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(35px);
  }
  100% {
    transform: translateY(0);
  }
}
.theme_toggle_btn.animate {
  animation: slideUp 0.3s ease-out;
}

.nav_toggle {
  display: none;
  background: transparent;
  padding: 1px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background: rgb(var(--nav-txt));
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 900px) {
  .nav_links {
    border-radius: 0;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 250px;
    width: 175px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 1.5rem;
    background: rgba(31, 5, 5, 0.1);
    backdrop-filter: blur(10px);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 998;
  }

  .nav_links:hover::before {
    --size: 800px;
  }

  .nav_links::before {
    pointer-events: none;
    z-index: 0;
  }

  .nav_links.active {
    transform: translateX(0);
  }

  .nav_toggle {
    display: block;
    margin-left: auto;
    margin-right: -45px;
    z-index: 999;
  }

  .nav_toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .nav_toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav_toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav_right {
    position: fixed;
    top: 365px;
    right: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    width: auto;
    transform: translateX(700%);
    transition: transform 0.3s ease;
    z-index: 999;
  }

  .nav_right.active {
    transform: translateX(0);
  }
}
